/* Oswald и Golos Text: SIL Open Font License 1.1, файлы лежат рядом */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(oswald-cyrillic-500-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(oswald-latin-500-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(oswald-cyrillic-600-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(oswald-latin-600-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(oswald-cyrillic-700-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(oswald-latin-700-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(golos-text-cyrillic-400-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(golos-text-latin-400-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(golos-text-cyrillic-500-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(golos-text-latin-500-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(golos-text-cyrillic-600-normal.woff2) format("woff2");
}

@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(golos-text-latin-600-normal.woff2) format("woff2");
}
